<div class="container-fluid">
       <header class="jumbotron">
              <h1 align="center">|FoodList-2023 |</h1>
       </header>

       <main>
              <article>
                     <section>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates soluta odio perferendis, labore incidunt doloribus nam est necessitatibus iure? Consequuntur libero, suscipit consectetur culpa ducimus neque repellat expedita saepe molestias.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sequi dolor dicta amet dolorem quam eum aliquid ab minus, similique quod error illo ducimus, rem placeat. Accusamus sunt quis blanditiis.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, debitis aliquid quasi voluptatum a veritatis quisquam praesentium nobis. Sint a ducimus animi expedita soluta nesciunt facere, dolores recusandae ut quae.
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius repudiandae nihil neque cumque rem, ex aspernatur provident maxime distinctio dolores illo labore iure et aliquid aperiam dicta facilis voluptate deserunt.

                     </section>
                     <section>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates soluta odio perferendis, labore incidunt doloribus nam est necessitatibus iure? Consequuntur libero, suscipit consectetur culpa ducimus neque repellat expedita saepe molestias.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sequi dolor dicta amet dolorem quam eum aliquid ab minus, similique quod error illo ducimus, rem placeat. Accusamus sunt quis blanditiis.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, debitis aliquid quasi voluptatum a veritatis quisquam praesentium nobis. Sint a ducimus animi expedita soluta nesciunt facere, dolores recusandae ut quae.
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius repudiandae nihil neque cumque rem, ex aspernatur provident maxime distinctio dolores illo labore iure et aliquid aperiam dicta facilis voluptate deserunt.
                            
                     </section>
              </article>
       </main>
</div>